<div class="content_wrap">
  <div class="container"> 
<!-- main Area -->
<div class="row">
    <div class="col-md-8 col-sm-8"> 
      <!-- Reng Slider -->
      <div class="rang_slider">
        <div class="row">
          <div class="col-6">
            <div class="count_wrap pull-right">
              <div class="count">
                <h1><span id="comissionLabel"></span></h1>
                Prediction </div>
              <h2 class="tab_text">Roll Under</h2>
            </div>
          </div>
          <div class="col-6">
            <div class="count_wrap pull-left">
              <div class="count lucky">
                <h1>00</h1>
                Luck Number </div>
              <h2 class="tab_text">Roll Over</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center" id="comission">
            <input class="custom-range" type="range" min="0" max="99" step="0.01">
          </div>
        </div>
        <div class="range_table">
          <table class="table ">
            <tbody>
              <tr>
                <td>Bet Amount X2 1/2 Min Max</td>
                <td>Win Chance</td>
              </tr>
              <tr>
                <td><div class="tbl_border">10</div></td>
                <td><div class="tbl_border">85%</div></td>
              </tr>
              <tr>
                <td>Payout on Win</td>
                <td>Multiplier</td>
              </tr>
              <tr>
                <td><div class="tbl_border">11.450</div></td>
                <td><div class="tbl_border">1.154X</div></td>
              </tr>
              <tr>
                <td>TRX Balance (Switch to other Token)</td>
                <td>Auto</td>
              </tr>
              <tr>
                <td><select class="form-control">
                    <option>10</option>
                    <option>20</option>
                  </select></td>
                <td><button type="submit" class="btn btn-info btn-block">Roll Over 13</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /Reng Slider --> 
    </div>
    <div class="col-md-4 col-sm-4"> 
 <!-- Tournamwnt Panel -->
<app-tournamentpanel></app-tournamentpanel>
 <!-- TournaPanel Close -->
      </div>
      </div>


<!-- main Area Close -->
<app-betpanel></app-betpanel>
  </div>
  </div>
