 <!-- Tabs -->
 <div id="tabs" class="rightbar">
  <nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist"> <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tournament</a> <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Leader Board</a> </div>
  </nav>
  <div class="nice_scroll">
    <div class="tab-content" id="nav-tabContent"> 
      <!-- TAB1 -->
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="table-responsive">
          <div class="contact_table_wrap">
            <div class="table_scroll">
              <div class="contact_table">
                <table class="table table-hover table-dark">
                  <thead>
                    <tr>
                      <th><div class="th_text">Rank</div></th>
                      <th><div class="th_text">Player</div></th>
                      <th><div class="th_text">Total Played</div></th>
                      <th><div class="th_text">Prize</div></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>6
                        </td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>14</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td><span><img src="images/photo.jpg" class="img_responsive"></span> Mark</td>
                      <td>0 TRX</td>
                      <td>1000 TRX</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TAB 2-->
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="table-responsive">
          <div class="contact_table_wrap">
            <div class="table_scroll">
              <div class="contact_table">
                <table class="table table-hover table-dark">
                  <thead>
                    <tr>
                      <th><div class="th_text">Tournament Name</div></th>
                      <th><div class="th_text">Status</div></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>TPL</td>
                      <td class="text-danger">Done</td>
                    </tr>
                    <tr>
                      <td>GPL</td>
                      <td class="text-success">Progress</td>
                    </tr>
                    <tr>
                      <td>One Day</td>
                      <td class="text-warning">Upcoming</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./Tabs --> 