 <!-- Bottom Section-->
 <div class="row">
  <div class="col-md-12">
    <div class="bottom_table"> 
      <!-- Tabs -->
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist"> <a class="nav-item nav-link active" id="mybets-tab" data-toggle="tab" href="#mybets" role="tab" aria-controls="nav-home" aria-selected="true">My Bets</a> <a class="nav-item nav-link" id="allbets-tab" data-toggle="tab" href="#allbets" role="tab" aria-controls="nav-home" aria-selected="true">All Bets</a> <a class="nav-item nav-link" id="highrollers-tab" data-toggle="tab" href="#highrollers" role="tab" aria-controls="nav-profile" aria-selected="false">High Rollers</a> </div>
      </nav>
      <div class="tab-content"> 
        <!-- TAB1 -->
        <div class="tab-pane fade show active" id="mybets" role="tabpanel" aria-labelledby="mybets-tab">
          <div class="table-responsive">
            <div class="nice_scroll">
              <div class="contact_table_wrap">
                <div class="table_scroll">
                  <div class="contact_table">
                    <table class="table table-hover table-dark">
                      <thead>
                        <tr>
                          <th><div class="th_text">Player</div></th>
                          <th><div class="th_text">Prediction</div></th>
                          <th><div class="th_text">Lucky Number</div></th>
                          <th><div class="th_text">Bets</div></th>
                          <th><div class="th_text">Payout</div></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>XYZ124 ww</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TAB 2-->
        <div class="tab-pane fade" id="allbets" role="tabpanel" aria-labelledby="allbets-tab">
          <div class="table-responsive">
            <div class="nice_scroll">
              <div class="contact_table_wrap">
                <div class="table_scroll">
                  <div class="contact_table">
                    <table class="table table-hover table-dark">
                      <thead>
                        <tr>
                          <th><div class="th_text">Player</div></th>
                          <th><div class="th_text">Prediction</div></th>
                          <th><div class="th_text">Lucky Number</div></th>
                          <th><div class="th_text">Bets</div></th>
                          <th><div class="th_text">Payout</div></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>XYZ124 ww</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                        <tr>
                          <td>XYZ124</td>
                          <td>Over50</td>
                          <td class="text-success">74</td>
                          <td>50 TRX</td>
                          <td class="text-success">1005.1 TRX</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TAB 3-->
        <div class="tab-pane fade" id="highrollers" role="tabpanel" aria-labelledby="highrollers-tab">
          <div class="table-responsive">
            <div class="contact_table_wrap">
              <div class="table_scroll">
                <div class="contact_table">
                  <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th><div class="th_text">Player</div></th>
                        <th><div class="th_text">Prediction</div></th>
                        <th><div class="th_text">Lucky Number</div></th>
                        <th><div class="th_text">Bets</div></th>
                        <th><div class="th_text">Payout</div></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>XYZ124 ww</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">74</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                      <tr>
                        <td>XYZ124</td>
                        <td>Over50</td>
                        <td class="text-success">777</td>
                        <td>50 TRX</td>
                        <td class="text-success">1005.1 TRX</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /tab --> 
  </div>
</div>
<!-- /Bottom Section--> 